
.review-slider{
    /* background-color:none ; */
   
    text-align:center;
    height: auto;
    color:rgb(42, 40, 40);
}
.reviewSlider-content{
    height: auto;
    padding-bottom: 100px;
    width: 1000px;
    margin: 0 auto;
   
}
.sliderreview-text{
    font-size: 20px;
}

@media only screen and (max-width: 600px) {

    .reviewSlider-content{
        height: auto;
        padding-bottom: 100px;
        width: 250px;
        margin: 0 auto;
       
    }
    .sliderreview-text{
        font-size: 13px;
    }
}