
.review-slider{
    /* background-color:none ; */
   
    text-align:center;
    height: auto;
    color:rgb(42, 40, 40);
}
.reviewSlider-content{
    height: auto;
    padding-bottom: 100px;
    width: 900px;
    margin: 0 auto;
    position: relative;
   
}
.sliderreview-text{
    font-size: 16px;
}
.circleround{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 0  380px;
}
.slider-name{
    position: absolute;
    top: -3px;
    right: 380px;
}
.contain{
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {

    .reviewSlider-content{
        height: auto;
        padding-bottom: 100px;
        width: 250px;
        margin: 0 auto;
       
    }
    .sliderreview-text{
        font-size: 13px;
    }
    .slider-name{
        top: 8px;
        right: 70px;
    }
    .circleround{
        margin: 0 55px;
    }
}