
.about-text1{
    margin: 0 auto;
    padding: 10px;
    border: 2px black solid;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-text2{
    margin: 0 auto;
    padding: 10px;
    border: 2px black solid;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-font{
    font-size: 15px;
    margin: 0 100px !important;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    
    .about-text2{
        width: 300px;
    }

    .about-font{
        margin: 0 50px !important;
        
    }
}
