body{
    background-color: whitesmoke;
}

.back-img{
    /* background-image: url(./img/background-img.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.head-div{
    position: absolute;
    right: 160px;
    top: 170px;
   height: 200px;
    width: 560px;
}
.head-name{
    font-style: italic;
    font-weight: bold;
    background: -webkit-linear-gradient(#ecc503, #ce0505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.head-link{
    margin-left: 100px;
    border-radius: 50px;
    cursor: pointer !important;
    text-decoration: none;
}
.home-text1{
    font-size: 25px;
}
.home-text2{
    font-size: 20px;
}

.booking{
    /* background-image: url(./img/bg-3.jpg); */
    background-repeat: no-repeat;
    background-size:cover;
    /* height: 100vh; */
}

hr{
    font-size: 20px;
    box-shadow: 0 0 5px 2px rgb(82, 80, 80);
}

@media only screen and (max-width: 600px) {


    .back-img{
       background-image: none;
    }
    .slide{
        position: relative;
    }
    .head-div{
        position: absolute;
        top: 450px;
       left: 5px;
       height: auto;
       width: 350px;
        /* background-color: black; */
        padding: 20px;
        opacity: 0.7;
        margin-bottom: 70px;
        /* box-shadow: 0 0 20px 8px white ; */

    }
    .welcome-name{
        /* color: white; */
        font-size: 20px;
    }
    .head-name{
        font-size: 28px;
        /* text-shadow: 0 0 55px 20px  white; */
        text-align: center;
    }
    .home-text1{
        font-size: 15px;
    }
    .home-text2{
       font-size: 13px;
    }
    
   
}
