.back-img{
    background-image: url(./background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.head-div{
    position: absolute;
    right: 70px;
    top: 120px;
   height: 200px;
    width: 600px;
    

}
.head-name{
    font-style: italic;
    font-weight: bold;
    background: -webkit-linear-gradient(#ecc503, #ce0505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.head-link{
    margin-left: 100px;
    border-radius: 50px;
    cursor: pointer !important;
    text-decoration: none;
}