.review-page{
    /* background-image: url(./img/bg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;

    color: rgb(96, 94, 94);
    position: relative;
}
.review-card{
    height:auto;
    width: 750px;
    background-color:white;
    color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    /* opacity: 0.7; */
    position: relative;
  
}
.name{
    position: absolute;
    top: 30px;
    left: 90px;
}
.review-container{
   
    height: 600px;
    overflow-y: scroll;
       
}
.review-container::-webkit-scrollbar {
    display: none;
}
.date{
    position: absolute;
    top: 25px;
    right: 30px;
}

.addreview-btn{
 position: absolute;
 right: 50px;
 top: 100px;
 font-size: 25px;
 align-items: center;
 color: rgb(245, 164, 26);

}
.review-text{
    position: absolute;
   right: 70px;
   bottom: 20px;
   color: rgb(144, 141, 141);
   font-size: 23px;
   text-align: center;
   font-style:italic;
   font-weight: bold;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
  }
  


@media only screen and (max-width: 600px) {

    .addreview-btn{
    
        font-size: 13px;
        margin-bottom: 200px;
        margin-top: -20px;
        padding-left: 30px;
  
    }
    
    .review-container{
        margin-top: 100px;
        height: 680px;
        overflow-y: scroll;
       
    }
    .review-card{
       
        font-size: 15px;
        width: 330px;
        padding: 7px;
    }
    .name{
        top: 20px;
        left: 70px;
    }

    .client-review{
        font-size: 11px;
    }

    .addreview{
       font-size: 12px;
    }
    .totalreview{
        font-size: 20px;
        margin-top: -12px;
    }
    .review-text{
        font-size: 11px;
        margin-top: 20px;
    }
}