.nav1{
    /* background: transparent; */
    margin: 0;
    /* padding-bottom: 10px; */
    /* display: flex;
    justify-content: space-around; */
    position: sticky;
    /* z-index: 50; */
    width: 100%;
     padding: 5px ; 
     background-color:#e5e7e9 ;
    color: rgb(82, 79, 79)  !important;
    font-size: 26px !important;
  
}
.hover:hover{
    border-bottom: 3px solid red !important;
    color: rgb(244, 94, 13) !important;
  text-shadow: 10px white !important;
}
.text-green{
    color: navy;
    font-weight: bold;
    
 }
 .text-red{
     /* color: navy; */
     background: -webkit-linear-gradient(#ecc503, #ce0505);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: bold;
     font-size: 30px;
 }
 .logo{
    height: 60px;
 }
/* .back-remo{
    margin-left: 300px;
} */



@media only screen and (max-width: 600px) {
    .nav1{
        font-size: 18px !important;
    }
    .logo{
        height: 45px;
    }
 .text-red{
    font-size: 23px;
 }
    .hover:hover{
        border-bottom: 3px solid red !important;
        color: rgb(244, 94, 13) !important;
      text-shadow: 10px white !important;
    }
}


